<html>
    <head>
        <!--Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145005928-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {dataLayer.push(arguments);}
            gtag('js', new Date())

            gtag('config', 'UA-145005928-1');
        </script>
        <title>{{ title }} - Bravo 人体艺术, 张筱雨人体艺术</title>
        <meta name="description" content="Bravo">
        <meta name="keywords" content="人体艺术,张筱雨人体艺术,欧美人体艺术,日本人体艺术,美女人体艺术,人体艺术摄影,met-art,gallery">
        <meta charset="utf-8">
        <link rel="shortcut icon" href="/static/img/favicon.ico">
        <meta name="google-site-verification" content="SUScn8L3yMZ7OtoMsLq-Urdr6oQLCV8kCxqZnXocbZQ" />
        <meta name="clckd" content="eb4173d8ee830e576956008cc83c350e" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="theme-color" content="#000000">
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/hux-blog.min.css">
        <link rel="stylesheet" href="/static/css/syntax.css">
        <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    </head>
    <body ontouchstart="">
        {% block header %}{% endblock %}
        {% include "navbar.html" %}
        {% include "navbar_script.html" %}


        <div class="container">
            <div class="row">
                <div class="
                col-lg-8 col-lg-offset-2
                col-md-10 col-md-offset-1
                post-container">
                    {% block content %}{% endblock %}
                </div>
            </div>
            <hr>
        </div>


        {% include "footer.html" %}

        {% include "base_script.html" %}

        <!-- Image to hack wechat -->
        <img src="/static/img/favicon.ico" width="0" height="0" />
        <!-- Migrate from head to bottom, no longer block render and still work -->
    {% block script %}{% endblock %}

    </body>
</html>