<style type="text/css">
    header.intro-header{
        position: relative;
        background-image: url('/static/img/header.jpg')
    }
</style>

<header class="intro-header" >
    <div class="header-mask"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">

                    <h1>{{ title }}</h1>


                    <h2 class="subheading">{{ subtitle }}</h2>

                    <span class="meta">42 minutes </span>
                </div>
            </div>
        </div>
    </div>
</header>