{%  extends "base.html" %}

{% block header %}
    {% include "header.html" %}
{% endblock %}

{% block content %}

    <div class="
                col-lg-8 col-lg-offset-1
                col-md-8 col-md-offset-1
                col-sm-12
                col-xs-12
                postlist-container
            ">
        <hr>
    {% for t in content %}
        <a href={{ url_for("assort", assort = t.assort) }}>
        <p><h1>{{ d[t.assort] }}</h1></p>
        </a>
        {% for art in t %}
            <div class="post-preview">
                <a href={{ art.pages[0].href() }}>
                    <h3 class="post-title">
                        {{ art.title }}
                    </h3>
                </a>
                    <div class="post-content-preview">
                        <a class="thumbnail">
                            <a href={{ art.pages[0].href() }}>
                                <img src={{ art.pages[0].url() }}>
                            </a>
                        </a>
                    </div>
            </div>
        {% endfor %}
        <hr>
    {% endfor %}
    </div>

{% endblock %}

