{% from "bootstrap/pagination.html" import render_pagination %}
{% extends "base.html" %}

{% block header %}
    {% include "header.html" %}
{% endblock %}

{% block content %}
    <div class="
                col-lg-8 col-lg-offset-1
                col-md-8 col-md-offset-1
                col-sm-12
                col-xs-12
                postlist-container
            ">
        {% for p in pag.items %}
            <div class="post-preview">
                <a href={{ p.pages[0].href() }}>
                    <h3 class="post-title">
                        {{ p.title }}
                    </h3>
                </a>
                <div class="post-content-preview">
                    <a class="thumbnail">
                        <a href={{ p.pages[0].href() }}>
                            <img src={{ "../"+p.pages[0].url() }}>
                        </a>
                    </a>
                </div>
            </div>
        {% endfor %}
        <hr>
    {{ render_pagination(pag) }}
    </div>
{% endblock %}