<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Bravo Babes</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div id="huxblog_navbar">
            <div class="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/">主页<br>Index</a>
                    </li>

                    <li>
                        <a href="/zhongguo">中国人体艺术<br>Chinese Hotties</a>
                    </li>

                    <li>
                        <a href="/oumei">欧美人体艺术<br>Western Hotties</a>
                    </li>

                    <li>
                        <a href="/rihan">日韩人体艺术<br>Asian Hottites</a>
                    </li>

                    <li>
                        <a href="/meinv">大胆人体艺术<br>Juicy Babes</a>
                    </li>

                    <li>
                        <a href="/zipai">张筱雨人体艺术<br>Zhang Xiaoyu</a>
                    </li>

                    <li>
                        <a href={{ random_page.pages[0].href() }}>随机页面<br>Random Album</a>
                    </li>

                    <li>
                        <a href="/tags">Tags</a>
                    </li>

                </ul>
            </div>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>