<ul class="pager">
    {% if prev %}
    <li class="previous">
        <a href={{ prev.pages[0].href() }} data-toggle="tooltip" data-placement="top" title={{ prev.title }}>
            Previous Album<br>
            <span>{{ prev.title }}</span>
        </a>
    </li>
    {% endif %}

    {% if next %}
    <li class="next">
        <a href={{ next.pages[0].href() }} data-toggle="tooltip" data-placement="top" title={{ next.title }}>
            Next Album<br>
            <span>{{ next.title }}</span>
        </a>
    </li>
    {% endif %}
</ul>