{% extends "base.html" %}

{% block content %}
    <div id='tag_cloud' class="tags">
        {% for kw in tags %}
            <a href={{ url_for("keyword", kw=kw.word) }} title="{{ kw.word }}" rel="{{ kw.id }}">{{ kw.word }}</a>
        {% endfor %}
    </div>
{% endblock %}